*
{
    margin:0px;
    padding:0px;
}
body{
    background-color:#FFB7B7;
    height:100%;
    width:100%;
    background-image: url('images/pink1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar
{
    /* background-color:#F4EEEE; */
    width:100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#982176;
    
}


p{
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    margin:20px;
    
}
.intro{
    margin-top:20px;
    color:black;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.intro img{
    margin-top: 20px;
    border-radius:50%;
    height:250px;
    width:230px;
    box-shadow:#100f0f
}
.skills
{
    margin-top: 20px;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
h1{
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:30px;
    font-family:  'Dancing Script', cursive;

}
.skills h2{
    margin: 40px;
    margin-bottom: 0px;
    font-size:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hrcontainer{
    display:flex;
    align-items: center;
    justify-content: center;
}
hr {
    border-style: none;
    border-top:dotted;
    border-width:5px;
    border-color:#C23373;
    width:60%;

}
.container1{
    margin:40px;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:320px;
    background-color: #FFE5E5;
    border-radius: 30px;
    border-color: #C23373;
    border-style:dotted;
    border-width:5px;
    box-shadow: 10px 10px 50px 15px #79155B;


}
.container1:hover{
    background:#79155B;
    box-shadow: 10px 10px 50px 15px white;
    cursor: pointer;
}
.container1 p:hover
{
    color:white;
    cursor: pointer;
}
.container{
    margin:30px;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #F4EEEE;
    border-radius: 0px;
    border-color: #C23373;
    border-style:outset;
    border-width:4px;
    box-shadow: #100f0f;
    box-shadow: 20px 20px 50px 10px pink inset;
    
   
} 
.container:hover{
    box-shadow: 10px 10px 50px 10px #79155B;
    cursor:pointer;
}
.container img{
    height: 150px;
    width:150px;
    margin:20px;
    transition: all .4s ease-in;
}
p{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.container img:hover{
    height:200px;
    width: 200px;
}
.contact
{
    height:100px;
    width:100vw;
    background-color:#982176;
    display:flex;
    justify-content: center;
    align-items: center;
}
.contact img{
    height:40px;
    width:40px;
    margin:10px;
}

@media (max-width:600px){
    .container{
        margin:30px;
        width:90%;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: #F4EEEE;
        border-radius: 0px;
        border-color: #C23373;
        border-style:outset;
        border-width:2px;
        box-shadow: #100f0f;
        box-shadow: 20px 20px 50px 10px pink inset;
        
       
    } 
hr {
    border-style: none;
    border-top:dotted;
    border-width:5px;
    border-color:#C23373;
    width:70%;

}
.container1{
    margin:10px;
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: left 15px;
    background-color: #FFE5E5;
    border-radius: 30px;
    border-color: #C23373;
    border-style:dotted;
    border-width:5px;
    box-shadow: 10px 10px 50px 15px #79155B;


}
.container:hover{
    box-shadow: 10px 10px 50px 10px #79155B;
    cursor:pointer;
}
.container img{
    height: 90px;
    width:100px;
    margin:10px;
    transition: all .4s ease-in;
}
p{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
.container img:hover{
    height:140px;
    width: 140px;
}
}